<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/images3.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/images3.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>ONEE</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">L’Office National de l’Électricité et de l’Eau potable (ONEE) est un acteur de référence pour le développement durable au Maroc. Il est le pilier de la stratégie énergétique et bras armé de l’Etat dans le secteur de l’eau et de l’assainissement dans le Royaume. Depuis le milieu des années 1990, l’Office est sur tous les fronts : généralisation de l’accès à l’électricité et à l’eau potable, épuration des eaux usées et développement du service de l’assainissement liquide, modernisation et élargissement des réseaux de production, de commercialisation et de distribution des ressources électriques et hydrauliques, lutte contre le gaspillage et implémentation de nouveaux instruments et techniques d’économies de l’eau et d’électricité…</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/images3.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/images3.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Nos Missions :</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Les missions de l'Office dans le domaine de l'eau potable et l'assainissement consistent en :

                          Planification
                           - De l’approvisionnement en eau potable du Royaume
                           - Programmation des investissements en eau potable et assainissement liquide
                          Etude et équipement
                          - Des projets d’eau potable et d’assainissement liquide
                          - Passation des marchés et suivi de la réalisation des projets

                           Gestion pour le compte des communes
                          - Du service de distribution d’eau potable
                          - Du service d’assainissement liquide dans les villes où il assure la distribution de l’eau potable

                          Contrôle de la qualité
                          - Des eaux produites et distribuées
                          - Des eaux susceptibles d’être utilisées pour l’alimentation en eau potable </p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/images3.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/images3.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Nos Axes Stratégiques :</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Afin d’accompagner le développement socio-économique que connaît le Royaume et contribuer à la préservation de l’environnement d’une manière générale et des ressources en eau en particulier, l’Office a adopté une stratégie basée sur les 4 axes suivants :

                          - Pérennisation, sécurisation et renforcement des installations d’alimentation en eau potable existantes ;
                          - Amélioration des performances techniques ;
                          - Généralisation de l’accès à l’eau potable en milieu rural conformément au principe de «droit à l’eau pour tous» ;
                          - Intervention active dans le domaine de l’assainissement liquide et la préservation de l’environnement.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/images3.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/images3.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Notre approche :</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">- Assurer une veille technologique
                          - Intégrer la composante environnement
                          - Impliquer le citoyen dans l’économie et la protection des ressources en eau</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                      droit à
                        <br />
                        l’eau pour
                        <br />
                        tous!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
