<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">Decharge</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <table id="customers">
    <tr>
      <td><b>Nom & Prenom :</b> {{data?.Nom_et_prenom}}</td>
      <td><b>Matricule :</b> {{data?.matricule}}</td>
    </tr>
    <tr>
      <td><b>Adresse Du Site :</b> {{data?.Adresse_du_site}}</td>
      <td><b>Entite :</b> {{data?.entite}}</td>
    </tr>
  </table>

  <div class="responsive_table">
    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Material</th>
        <td mat-cell *matCellDef="let element">{{element?.name}}</td>
      </ng-container>

      <ng-container matColumnDef="Code_onee">
        <th mat-header-cell *matHeaderCellDef>Code ONEE</th>
        <td mat-cell *matCellDef="let element">{{element?.Code_onee}}</td>
      </ng-container>

      <ng-container matColumnDef="N_serie">
        <th mat-header-cell *matHeaderCellDef>N° Serie</th>
        <td mat-cell *matCellDef="let element">{{element?.N_serie}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-dialog-content>

